@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* -------- Variables -------------- */

:root {
    --primary: #00a8ff;
    --secondary: #f5f6fa;
    --dark: #2A2F4F;
    --light: #F0F0F0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* TEST CODES */


/* END TEST CODES */


/* Header */
.header {
    width: 100%;
    height: 70px;
    padding: 0 3em;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.header .logo svg {
    font-size: 1.8em;
}

.header .logo p {
    font-size: 1.2em;
}

nav {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .item svg {
    font-size: 1.6em;
    color: var(--light);
}

nav .item p {
    font-size: 1.04em;
    font-weight: 300;
}


.others {
    display: flex;
    align-items: center;
    gap: 1em;
}

.others .more-item {
    font-size: 1.4em;
    padding: 9px;
    border-radius: 50%;
    background: var(--light);
    color: var(--dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.others .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    /* padding: .4px; */
}

.others .avatar:hover {
    box-shadow: 0 0 2px 0 #fff;
}

/* Home */
.home {
    display: flex;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    background: whitesmoke;
}

/* Sidebar */
.sidebar {
    flex: 1;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    padding: 2em 0 3em;
    overflow-y: scroll;
    user-select: none;
}

.sidebar-item {
    display: flex;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0 1em 0 1em;
    border-radius: 4px 4px 4px 4px;
}

.sidebar-item:hover {
    background: #fff;
}

.sidebar-item svg {
    font-size: 2em;
    margin-right: .4em;
    color: var(--primary);
}

.sidebar-item p {
    font-size: 1.2em;
}

.home .wrapper {
    flex: 3.4;
    height: inherit;
    overflow-y: scroll;
    display: flex;
    position: relative;
}

.feed {
    flex: 2.4;
    padding: 1em 2.4em;
}



.widget {
    flex: 1.4;
    height: 100%;
    max-height: 100vh;
    padding: 1em 3em 1em 0;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    right: 0;
}

.widget::-webkit-scrollbar {
    display: none;
}

.follow {
    width: 100%;
    height: 55vh;
    background: #fff;
    border-radius: 7px;
    overflow-y: scroll;
    user-select: none;
}

.follow::-webkit-scrollbar {
    display: none;
}

.follow h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: .6em;
    padding: .8em 1.1em;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99;
}

.follow .follow-item {
    flex: 1;
    padding: 0 1.1em;
    position: relative;
    display: flex;
    align-items: center;
    gap: .4em;
    margin-bottom: 1em;
    cursor: pointer;
}

.follow-item .avatar {
    width: 45px;
    height: 45px;
}

.follow-item .info .username {
    font-size: 1em;
    font-weight: 500;
}

.follow-item .info .bio {
    font-size: .8em;
}

.btn,
.follow-item .follow-btn {
    align-self: center;
    position: absolute;
    right: 1.1em;
    font-size: 1em;
    padding: 4px .8em;
    cursor: pointer;
    border-radius: 99px;
    border: .6px solid grey;
    background: unset;
}

.follow-item .follow-btn:hover {
    background: rgb(237, 236, 236);
}

.widget .about-company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    margin-top: 2em;
}

/* Create New Post */
.createNewPost {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: .3em 1.4em .6em;
    margin-bottom: 2em;
    user-select: none;
}

.createNewPost .top {
    display: flex;
    align-items: center;
    gap: .5em;
    height: 60px;
}

.avatar,
.createNewPost .top .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.createNewPost .top input {
    flex: 1;
    padding: 0 1em;
    font-size: .9em;
    font-weight: 300;
    border-radius: 99px;
    border: none;
    outline: none;
    height: 80%;
    background: var(--secondary);
    color: var(--dark);
}

.createNewPost .top input::placeholder {
    color: var(--dark);
}

.createNewPost .divider {
    width: 100%;
    height: .7px;
    background: var(--dark);
    margin: .6em 0;
}

.createNewPost .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: .3em;
}

.createNewPost .bottom .bottom-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.createNewPost .bottom .bottom-item svg {
    font-size: 1.5em;
}

.createNewPost .bottom .bottom-item p {
    font-size: 1.1em;
}


/* Post */
.post {
    background: #fff;
    padding: 1.4em 0 0;
    border-radius: 5px;
    margin: 1.1em 0;
}

.post .top {
    padding: 0 1.4em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    user-select: none;
}

.post .top .left {
    display: flex;
    align-items: center;
    gap: .5em;
}

.post .top .left .info .author {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .4px;
    cursor: pointer;
}

.post .top .left .info .timestamp {
    font-size: 0.9em;
    font-weight: 300;
}

.post .top .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post .top .right svg {
    font-size: 1.5em;
    cursor: pointer;
}

.post .content {
    padding: 1em 0 0;
}

.post .content p {
    padding: 0 1.4em;
    margin-bottom: 1em;
}

.post .content img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.post .content .negotiations {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em 0 .4em;
    user-select: none;
}

.content .negotiations .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.content .negotiations .item svg {
    font-size: 1.2em;
}

.content .negotiations .item p {
    margin: unset;
    padding: unset;
    font-weight: 300;
    font-size: 0.97em;
}


/* Profile */
.profile {
    width: 200px;
    height: 240px;
    background: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile .poster {
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .poster .banner {
    width: 100%;
    height: inherit;
}

.profile .poster .banner .banner-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.profile .poster .row-avatar {
    position: relative;
    top: -45%;
    left: 0;
}

.profile .poster .profile-avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.profile .username {
    margin-top: 2em;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.profile .username:hover {
    text-decoration: underline;
}

.profile .bio {
    font-size: .95em;
    font-weight: 300;
}

.profile .btn {
    /* position: unset; */
    position: relative;
    bottom: -.6em;
    left: 0;
    width: 90%;
    padding: .5em 0;
}

/* Network */
.network {
    max-height: calc(100vh - 70px);
    display: flex;
}

.network .profiles {
    flex: 3.4;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    overflow-y: scroll;
}




/* Notifications */
.notifications {
    width: 100%;
    min-height: calc(100vh - 70px);
    background: rgb(211, 209, 209);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.notifications .wrapper {
    margin-top: 1.3em;
    width: 450px;
    border-radius: 5px;
    min-height: calc(100vh - 30vh);
    background: #fff;
    padding: 1em;
}

.notifications .wrapper .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications .wrapper .top p {
    font-size: 1.4em;
    font-weight: 600;
}

.notifications .wrapper .top svg {
    font-size: 1.4em;
    cursor: pointer;
}

.notifications .wrapper .divider {
    width: 100%;
    height: .6px;
    background: lightgrey;
    margin: .5em 0 1.1em;
}

.notifications .notifications-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.notifications .notifications-wrapper .item {
    width: 100%;
    padding: .4em .7em;
    border-radius: 4px;
    display: flex;
    gap: .6em;
    cursor: pointer;
}

.notifications .notifications-wrapper .item:hover {
    background: whitesmoke;
}

.notifications .notifications-wrapper .item .avatar {
    width: 68px;
    height: 68px;
}

.notifications .notifications-wrapper .item .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.notifications .notifications-wrapper .item .details .alert {
    font-size: 1.1em;
    font-weight: 300;
}

.notifications .notifications-wrapper .item .details .timestamp {
    font-size: .9em;
    font-weight: 200;
}